h3 {
    margin-top: 35px;
    margin-left: 25px;
    margin-bottom: 30px;
}

img {
    width: 270px;
    height: 410px;
    display: block;
    margin-left: 25px;
    margin-right: 20px;
    border-radius: 13%;
    /* 사진 모서리 부분 둥글게 처리 */
}

#pos {
    display: flex;
    /* 사진 옆에 본문을 띄우기 위함 */
    margin-top: 20px;
}

p {
    display: inline;
    padding-left: 30px;
    font-size: 17px;
    line-height: 1.8;
    font-weight: normal;
}
